:root {
  --primary-color-gradient : linear-gradient(180deg, #7CEE00 15%, #3A6E01);
  --primary-color : #7CEE00;
  --secondary-color : #1C1C1C;
  --third-color : #ffffff;
  --background-color : #000000;
  --accent-color : #FFD800;
  --accent-color-gradient : linear-gradient(180deg, #FFD800 15%, #a48c04);
}

@font-face {
  font-family: "Bionix";
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/Bionix-demo.otf")
      format("opentype"),
}

/* --------------------------------------------------  RESET CSS  --------------------------------------------------*/

/* enlever les marges naturelles + reset du body/html */
html,
body,
header {
  margin: 0 auto;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "inter";
}

/* tous les élements, et pseudo-éléments héritent de la valeur de box-sizing du parent */
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--third-color);
  cursor: pointer;
  display: flex;
}

/* enlever le style des listes */
ul,
ol {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.button {
  cursor: pointer; /* Ajoute un pointeur au survol */
}

/* corriger l’affichage des images */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* ------------- GENERAL ------------ */
body {
  background: var(--background-color);
}

main {
   width: 90dvw;
   margin: 0 auto;
}

h1 {
  /* font-family: "Julius Sans One", sans-serif; */
  /* color: var(--primary-color); */
  font-family: "Bionix";
  color: var(--third-color);
  text-align: center;
  font-size: 34px;
}

h2, p, li, td {
  color: var(--third-color);
}

strong {
  /* color: var(--forth-color);*/
  font-family: "Bionix"; 
}

label {
  cursor: pointer;
}

hr {
  width: 90%;
  border-color: var(--primary-color);
}

.text-primary-color {
  color: var(--primary-color);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5dvh auto;
  width: 120px;
  color: var(--primary-color);
  font-family: "Just Me Again Down Here", cursive;
  font-size: 22px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin: 2dvh auto;
  padding: 20px;
  text-align: justify;
 
}

.container ul {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  list-style-type: disc;
}

/* ------------- BOUTONS ------------ */
.button {
  background: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  width: 40dvw;
  max-width: 40dvw;
  margin: 0 auto;
  display: flex;
  align-items: center; /* Centre le texte verticalement */
  justify-content: center; /* Centre le texte horizontalement */
  min-height: 48px; /* Hauteur minimale des éléments clicables selon les guidelines Google et Apple */
  transition: all 0.2s ease-out;
  box-shadow: 0 -30px 15px -7px rgba(0, 0, 0, 0.5) inset;
}

.button:hover {
  background : var(--accent-color);
}

/* ------------- FORMULAIRES ------------ */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--third-color);
  background-color: var(--secondary-color);
  text-align: left;
}

form div {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  align-self: center;
}

form label {
  margin-bottom: 10px;
}

form textarea, input:not([type="submit"], [type="file"], [type="radio"]) {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
  border-radius: 15px;
  font-size: 24px;
  color: var(--third-color);
  height: 34px;
  margin: 0;
  padding-left : 10px;
}

form textarea:focus, input:not([type="submit"]):focus {
  border-color: var(--accent-color);
  outline:none;
}

.note {
  font-size: 12px;
}

form .block-radio {
  width: 90%;
}

.block-radio div {
  display: flex;
  flex-direction: row;
  align-self: baseline;
  gap: 50px;
  height: 40px;
}

.block-radio p {
  margin-bottom: 10px;
}

.radioLabel {
  margin-bottom: 0;
}

.block-files {
  width: 90%;
}

.block-dates {
  width: 90%;
}

.block-dates p {
  margin-bottom: 10px;
}

.block-dates label {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Inverse la couleur de l'icone par défaut, car pas stylisable directement, solution simple et rapide */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* blanc */
}


/* Personnalisation de la checkbox */
.customLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.customLabel {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  background-color: var(--background-color);
  border: 1px solid var(--third-color);
  border-radius: 5px;
}

/* Quand la souris passe dessus, éclairci le fond */
.customLabel:hover input ~ .checkmark {
  background-color: var(--secondary-color);
}

/* Quand c'est checké, ajoute un fond vert */
.customLabel input:checked ~ .checkmark {
  background-color: var(--primary-color);
}

/* Créé l'indicator de check (caché quand pas checké) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Montre le checkmark quand checké */
.customLabel input:checked ~ .checkmark:after {
  display: block;
}

/* Stylise le checkmark */
.customLabel .checkmark:after {
  left: 10px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid var(--third-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Personnalisation des boutons radio */

.radioLabel {
  height: 36px;
}

/* Style the checkmark/indicator */
.radioLabel .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--third-color);
}

.radioLabel .checkmark {
  background-color: var(--background-color);
  border-radius: 50%;
}

/* Quand la souris passe dessus, éclairci le fond */
.radioLabel:hover input ~ .checkmark {
  background-color: var(--secondary-color);
}

/* Quand c'est checké, ajoute un fond vert */
.radioLabel input:checked ~ .checkmark {
  background-color: var(--primary-color);
}


/* Personnaliser le select */
.form-select {
  background-color : unset;
  margin: 2dvh auto;
}

/* Personnaiser le champ select */
.form-select select {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  font-size: 18px;
  color: var(--third-color);
  height: 34px;
  margin: 0;
  padding-left : 10px;
}

/* personnalise le champ au focus */
.form-select select:focus, .form-select select:hover {
  border-color: var(--accent-color);
  outline:none;
}

/* personnalise le menu déroulant */
.form-select select,
.form-select select::picker(select) {
	appearance: base-select;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  color: var(--third-color);
  width: 90dvw;
}

.form-select select::picker(select):hover, .form-select select::picker(select):focus {
	border-color: var(--accent-color);
  outline:none;
}

/* personnalise l'icone */
.form-select select::picker-icon {
  content:'❯';
  rotate: 90deg;
  transition : all 0.2s ease;
  margin-right: 5px;
}

.form-select select:open::picker-icon {
  rotate: -90deg;
}


/* ------------- FORMULAIRE - ANALYSE DETAILLEE ------------ */
.containerSequence {
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 20px;
  margin-top: 15px;
  text-align: center;
}

.containerSequence ul {
  list-style: none;
  padding: 0;
  gap : 0;
}

.sequence-block {
  text-align: center;
}

.container-sequence-radio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}

.container-sequence-radio div {
  align-self: start;
}

.container-sequence-radio div p {
  margin-bottom: 16px;
}

#h2-analyse-detaillee {
  text-align: center;
}


/* ------------- HEADER - NAVBAR ------------ */
nav {
  z-index: 10;
  background: var(--primary-color-gradient);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position:fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}

nav a {
  display: flex;
  align-items: center; /* Centre le texte verticalement */
  justify-content: center; /* Centre le texte horizontalement */
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px; /* Hauteur minimale des éléments clicables selon les guidelines Google et Apple */
  border-radius: 100%;
}

svg {
  stroke : var(--third-color);
  color: var(--third-color);
  height: 40px;
}

.menu-active {
background-color: var(--third-color);
}

.menu-active svg {
  stroke : var(--primary-color);
  color: var(--primary-color);
}

/* ------------- FOOTER ------------ */

footer {
  display: flex;
  justify-content: center;
  border-top: solid 1px var(--secondary-color);
  margin: 5dvh 0 60px;
}

footer a {
  margin: 10px auto;
}

/* ------------- SignIn- Login ------------ */

.container-signIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  height: 90dvh;
  position: relative;
}

.logo-signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5dvh auto;
  color: var(--primary-color);
  font-family: "Just Me Again Down Here", cursive;
  font-size: 22px;
}

.logo-signIn img {
  width: 100px;
}

.logo-signIn h1 {
  font-size: 38px;
}

.logo p {
  display: flex;
}

.login-onglets {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  width: 100%;
}

.container-signIn .container {
  margin: 0;
}

.container-signIn .container:not(.login-button) {
   min-height: 500px;
}

.block-login {
  position: absolute;
  top: 69px;
  width: 100%;
}

.block-login h2 {
  text-align: center;
}
 
.login-button {
  width: 50%;
  cursor: pointer;
  position: absolute;
  z-index: 100;
}

.login-button {
  position: relative;
  border-radius: 10px 10px 0 0;
  user-select: none;
}

#block-inscription {
  border-radius: 0 10px 10px 10px;
}

#block-inscription::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;  
  right: 0;    
  width: 12px;
  height: 12px;
  background-image: radial-gradient(circle at 0%  100%, transparent 13px, var(--primary-color) 12px);
}

#block-connection {
  display: none;
  border-radius: 10px 0 10px 10px;
}

#block-connection::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;  
  left: 0;    
  width: 12px;
  height: 12px;
  background-image: radial-gradient(circle at 100% 100%, transparent 13px, var(--primary-color) 12px);
}

#button-inscription {
  z-index: 2;
}

#button-inscription::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;  
  right: -12px;    
  width: 12px;
  height: 12px;
  background-image: radial-gradient(circle at 100%  0%, transparent 13px, var(--secondary-color) 12px);
}

#button-connection {
  justify-self: right;
  z-index: 0;
}

#button-connection::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;  
  left: -12px;    
  width: 12px;
  height: 12px;
  background-image: radial-gradient(circle at 0%  0%, transparent 13px, var(--secondary-color) 12px);
}

.color-green, .color-green h2 {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.color-grey, .color-grey h2 {
  background-color: var(--secondary-color);
  color: var(--third-color);
}

.main-signIn + footer{
  margin: 5dvh 0 0;
}



/* ------------- DASHBOARD ------------ */

table {
  display: none;
  margin: 2dvh auto;
  border-collapse: collapse;
  background-color: var(--secondary-color);
  text-align: center;
  border-radius: 10px;
}

table thead {
  background: var(--primary-color-gradient);
}

table thead td:not(thead td:first-child, thead td:last-child) {
  border-left: 1px solid var(--third-color);
  border-right: 1px solid var(--third-color);
  border-bottom: 2px solid var(--third-color);
}

table thead td:first-child {
  border-bottom: 2px solid var(--third-color);
  border-radius: 10px 0 0 0;
}

table thead td:last-child {
  border-bottom: 2px solid var(--third-color);
  border-radius: 0 10px 0 0;
}

table tbody td:not(tr:last-child td, tr td:first-child, tr td:last-child) {
  border: 1px solid var(--primary-color);
}

table tbody tr td:first-child:not(tr:last-child td), table tbody tr td:last-child:not(tr:last-child td) {
  border-bottom: 1px solid var(--primary-color);
}

table tbody tr:last-child td:not(tr:last-child td:first-child,tr:last-child td:last-child) {
  border-left: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
}

table td .button {
  width: 100px;
}

table td {
  padding: 10px;
}

.dashboard-mobile-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5dvh auto;
  text-align: center;
  gap: 15px;
}







.popup {
  display : none;
}

.champObligatoire {
  color :red;
}

.messageError {
  color: red;
}

.messageSuccess {
  color: var(--primary-color);
}