:root {
  --primary-color-gradient : linear-gradient(180deg, #7CEE00 15%, #3A6E01);
  --primary-color : #7CEE00;
  --secondary-color : #1C1C1C;
  --third-color : #ffffff;
  --background-color : #000000;
  --accent-color : #FFD800;
  --accent-color-gradient : linear-gradient(180deg, #FFD800 15%, #a48c04);
}

@font-face {
  font-family: "Bionix";
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/Bionix-demo.otf")
      format("opentype"),
}

/* --------------------------------------------------  RESET CSS  --------------------------------------------------*/

/* enlever les marges naturelles + reset du body/html */
html,
body,
header {
  margin: 0 auto;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "inter";
}

/* tous les élements, et pseudo-éléments héritent de la valeur de box-sizing du parent */
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--third-color);
  cursor: pointer;
  /* display: flex; */
}

/* enlever le style des listes */
ul,
ol {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.button {
  cursor: pointer; /* Ajoute un pointeur au survol */
}

/* corriger l’affichage des images */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* ------------- GENERAL ------------ */
body {
  background: var(--background-color);
}

main {
   width: 90dvw;
   max-width: 1200px;
   min-height: calc(100dvh - (280px + 15dvh));
   margin: 0 auto;
}

h1 {
  /* font-family: "Julius Sans One", sans-serif; */
  /* color: var(--primary-color); */
  font-family: "Bionix";
  color: var(--third-color);
  text-align: center;
  font-size: 34px;
}

h2 {
  text-align: center;
}

h2, h3, h4, h5, h6, p, li, td {
  color: var(--third-color);
}

strong {
  /* color: var(--forth-color);*/
  font-family: "Bionix"; 
}

label {
  cursor: pointer;
}

hr {
  width: 90%;
  max-width: 450px;
  border-color: var(--primary-color);
  margin: 2dvh auto 5dvh;
}


/* ------------- CONTENEURS ------------ */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin: 2dvh auto;
  padding: 20px;
}

.container ul {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  list-style-type: disc;
}

/* ------------- BOUTONS ------------ */
.button {
  font-family: 'Inter';
  font-size: 16px;
  background: var(--primary-color);
  color: var(--third-color);
  border: none;
  border-radius: 5px;
  width: 40dvw;
  min-width: fit-content;
  max-width: 200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center; /* Centre le texte verticalement */
  justify-content: center; /* Centre le texte horizontalement */
  text-align: center;
  min-height: 48px; /* Hauteur minimale des éléments clicables selon les guidelines Google et Apple */
  transition: all 0.2s ease-out;
  box-shadow: 0 -30px 15px -7px rgba(0, 0, 0, 0.5) inset;
}

.button:hover {
  background : var(--accent-color);
}

/* ------------- POPUPS ------------ */

.popup {
  display : none;
  border: 1px solid var(--primary-color);
  position: fixed;
  top: 50dvh;
  left: 50dvw;
  transform: translate(-50%, calc((-50%) - (30px)));
}

.popup form {
  text-align: center;
}

.popupSuppr div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap : 10px;
}


/* ------------- BARRE DE DEFILEMENT ------------ */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;
}


/* ------------- HEADER - NAVBAR ------------ */

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5dvh auto;
  width: 120px;
}

.text-primary-color {
  color: var(--primary-color);
  font-family: "Just Me Again Down Here", cursive;
  font-size: 22px;
}

nav {
  z-index: 10;
  background: var(--primary-color-gradient);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position:fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px; /* Hauteur minimale des éléments clicables selon les guidelines Google et Apple */
  border-radius: 100%;
}

svg {
  stroke : var(--third-color);
  color: var(--third-color);
  height: 40px;
}

.menu-active {
background-color: var(--third-color);
}

.menu-active svg {
  stroke : var(--primary-color);
  color: var(--primary-color);
}

/* ------------- FOOTER ------------ */

footer {
  display: flex;
  justify-content: center;
  border-top: solid 1px var(--secondary-color);
  margin: 5dvh 0 60px;
}

footer a {
  margin: 10px auto;
}

/* ------------- FORMULAIRES ------------ */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--third-color);
  background-color: var(--secondary-color);
  text-align: left;
  max-width: 550px;
  margin: 0 auto;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  align-self: center;
}

form label {
  margin-bottom: 10px;
}

form textarea, input:not([type="submit"], [type="file"], [type="radio"]) {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
  border-radius: 15px;
  font-size: 24px;
  color: var(--third-color);
  height: 34px;
  margin: 0;
  padding-left : 10px;
}

form textarea:focus, input:not([type="submit"]):focus {
  border-color: var(--accent-color);
  outline:none;
}

form textarea {
height: 150px;
}

form fieldset {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}

form fieldset:hover, form fieldset:focus {
  border: 1px solid var(--accent-color);
}


.note {
  font-size: 12px;
}

.block-radio div {
  display: flex;
  flex-direction: row;
  align-self: baseline;
  gap: 50px;
  height: 40px;
}

.block-radio p {
  margin-bottom: 10px;
}

.radioLabel {
  margin-bottom: 0;
}

.block-dates p {
  margin-bottom: 10px;
}

.block-dates label {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Inverse la couleur de l'icone par défaut, car pas stylisable directement, solution simple et rapide */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* blanc */
}


/* Personnalisation de la checkbox */
.customLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.customLabel {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  background-color: var(--background-color);
  border: 1px solid var(--third-color);
  border-radius: 5px;
}

/* Quand la souris passe dessus, éclairci le fond */
.customLabel:hover input ~ .checkmark {
  background-color: var(--secondary-color);
}

/* Quand c'est checké, ajoute un fond vert */
.customLabel input:checked ~ .checkmark {
  background-color: var(--primary-color);
}

/* Créé l'indicator de check (caché quand pas checké) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Montre le checkmark quand checké */
.customLabel input:checked ~ .checkmark:after {
  display: block;
}

/* Stylise le checkmark */
.customLabel .checkmark:after {
  left: 10px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid var(--third-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Personnalisation des boutons radio */

.radioLabel {
  height: 36px;
}

/* Style the checkmark/indicator */
.radioLabel .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--third-color);
}

.radioLabel .checkmark {
  background-color: var(--background-color);
  border-radius: 50%;
}

/* Quand la souris passe dessus, éclairci le fond */
.radioLabel:hover input ~ .checkmark {
  background-color: var(--secondary-color);
}

/* Quand c'est checké, ajoute un fond vert */
.radioLabel input:checked ~ .checkmark {
  background-color: var(--primary-color);
}


/* Personnaliser le select */
.form-select {
  background-color : unset;
  margin: 2dvh auto;
}

/* Personnaiser le champ select */
.form-select select {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  font-size: 18px;
  color: var(--third-color);
  height: 34px;
  margin: 0;
  padding-left : 10px;
}

/* personnalise le champ au focus */
.form-select select:focus, .form-select select:hover {
  border-color: var(--accent-color);
  outline:none;
}

/* personnalise le menu déroulant */
.form-select select,
.form-select select::picker(select) {
	appearance: base-select;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  color: var(--third-color);
  max-width: 90dvw;
}

.form-select select::picker(select):hover, .form-select select::picker(select):focus {
	border-color: var(--accent-color);
  outline:none;
}

/* personnalise l'icone */
.form-select select::picker-icon {
  content:'❯';
  rotate: 90deg;
  transition : all 0.2s ease;
  margin-right: 5px;
}

.form-select select:open::picker-icon {
  rotate: -90deg;
}






/* ------------- FORMULAIRE - NOUVEAU PROJET ------------ */
#newProject-form {
  gap: 0;
}

#newProject-form div {
  gap: 10px;
}

/* ------------- FORMULAIRE - ANALYSE DETAILLEE ------------ */

#container-detailed-analysis {
    max-width: 550px;
}

#container-detailed-analysis h3, #container-detailed-analysis p {
    text-align: center;
}

.all-sequences-container {
  max-height: calc(100dvh - (220px + 19dvh));
  overflow-y: scroll;
}

.container-sequence {
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 20px;
  margin: 15px 0;
  text-align: center;
}

.container-sequence ul {
  list-style: none;
  padding: 0;
  gap : 0;
}

.container-sequence-radio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  max-width: 350px;
}

.container-sequence-radio div {
  align-self: start;
}

.container-sequence-radio div:last-child {
  align-items: end;
}

.container-sequence-radio .container-occupe {
  display: flex;
  align-self: end;
  width: fit-content;
}

.container-sequence-radio .container-occupe label {
  align-self: start;
}

.container-sequence-radio div p {
  margin-bottom: 16px;
  white-space: nowrap;
}

#h2-analyse-detaillee {
  text-align: center;
}

/* ------------- FORMULAIRE - BILAN FINAL ------------ */

.form-finalReport div {
  max-width: 100%;
  width: 100%;
}

.form-finalReport fieldset {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding-bottom: 15px;
}

.form-finalReport fieldset div {
  width: fit-content;
  align-self: center;
}

.form-finalReport fieldset div label {
  height: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: unset;
}

.form-finalReport fieldset div img {
  width: 5dvw;
  min-width: 34px;
  max-width: 100px;
}

.form-finalReport .customLabel input:checked ~ .checkmark-appreciation {
  background-color: var(--primary-color);
  border-radius: 50%;
  transform: scale(1.3);
  /* width: calc(6dvw + 20px); */
  max-width: 110px;
}

.all-sequences-finalReport {
  max-height: 60dvh;
  overflow-y: scroll;
}

.container-sequences h3 {
  margin-bottom: 10px;
}

.container-sequences div {
  max-width: 90%;
}

.container-sequences label {
  font-size: 14px;
}

/* ------------- PAGE SignIn - Login ------------ */
.main-signIn {
  min-height: calc(100dvh - (41px + 10dvh))
}
.container-signIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 350px;
  height: 570px;
  position: relative;
}

.logo-signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5dvh auto;
  color: var(--primary-color);
  font-family: "Just Me Again Down Here", cursive;
  font-size: 22px;
}

.logo-signIn img {
  width: 100px;
}

.logo-signIn h1 {
  font-size: 38px;
}

.logo p {
  display: flex;
}

.login-onglets {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  width: 100%;
}

.container-signIn .container {
  margin: 0;
}

.container-signIn form {
  width: 100%;
}

.container-signIn form .button {
  width: 200px;
}


.container-signIn .container:not(.login-button) {
   min-height: 500px;
}

.block-login {
  position: absolute;
  top: 69px;
  width: 100%;
}

.block-login h2 {
  text-align: center;
}
 
.login-button {
  width: 50%;
  cursor: pointer;
  position: absolute;
  z-index: 100;
}

.login-button {
  position: relative;
  border-radius: 10px 10px 0 0;
  user-select: none;
}

#block-inscription {
  border-radius: 0 10px 10px 10px;
}

#block-inscription::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;  
  right: 0;    
  width: 12px;
  height: 12px;
  background-image: radial-gradient(circle at 0%  100%, transparent 13px, var(--primary-color) 12px);
}

#block-connection {
  display: none;
  border-radius: 10px 0 10px 10px;
}

#block-connection::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;  
  left: 0;    
  width: 12px;
  height: 12px;
  background-image: radial-gradient(circle at 100% 100%, transparent 13px, var(--primary-color) 12px);
}

#button-inscription {
  z-index: 2;
}

#button-inscription::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;  
  right: -12px;    
  width: 12px;
  height: 12px;
  background-image: radial-gradient(circle at 100%  0%, transparent 13px, var(--secondary-color) 12px);
}

#button-connection {
  justify-self: right;
  z-index: 0;
}

#button-connection::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;  
  left: -12px;    
  width: 12px;
  height: 12px;
  background-image: radial-gradient(circle at 0%  0%, transparent 13px, var(--secondary-color) 12px);
}

.color-green, .color-green h2 {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.color-grey, .color-grey h2 {
  background-color: var(--secondary-color);
  color: var(--third-color);
}

.main-signIn + footer{
  margin: 5dvh 0 0;
}

/* ------------- PAGE DASHBOARD ------------ */

table {
  display: none;
  width: 100%;
  margin: 2dvh auto;
  border-collapse: collapse;
  background-color: var(--secondary-color);
  text-align: center;
  border-radius: 10px;
}

table thead {
  background: var(--primary-color-gradient);
}

table thead td:not(thead td:first-child, thead td:last-child) {
  border-left: 1px solid var(--third-color);
  border-right: 1px solid var(--third-color);
  border-bottom: 2px solid var(--third-color);
}

table thead td:first-child {
  border-bottom: 2px solid var(--third-color);
  border-radius: 10px 0 0 0;
}

table thead td:last-child {
  border-bottom: 2px solid var(--third-color);
  border-radius: 0 10px 0 0;
}

table tbody td:not(tr:last-child td, tr td:first-child, tr td:last-child) {
  border: 1px solid var(--primary-color);
}

table tbody tr td:first-child:not(tr:last-child td), table tbody tr td:last-child:not(tr:last-child td) {
  border-bottom: 1px solid var(--primary-color);
}

table tbody tr:last-child td:not(tr:last-child td:first-child,tr:last-child td:last-child) {
  border-left: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
}

table td .button {
  width: 100px;
}

table td {
  padding: 10px;
}

table img {
  max-width: 40px;
  margin: 0 auto;
}

.dashboard-mobile-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  text-align: center;
  gap: 15px;
}


/* ------------- PAGE DETAILS ------------ */

#page-details .container {
  text-align: center;
}

#page-details .container ul {
  text-align: left;
}

.details-sequences-container {
  position: relative;
}

.details-sequences-container svg {
  top: 12px;
  right: 20px;
  transition: all 0.2s ease;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
}

.details-sequences-container div div {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
}

.details-sequences-container ul {
  display: none;
}

.container-rythme-reco {
  border: 3px solid var(--primary-color);
}

.container-rythme-reco ~ .note {
  border-top: 1px solid var(--third-color);
}

.button-details {
  margin: 2dvh auto 5dvh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.button-details a {
  margin: 2dvh 20px 0 20px;
}

#bilanFinal {
  margin-top: 5dvh;
  font-family: 'Bionix';
  font-size: 34px;
}

#bilanFinal ~ .container img {
  margin: 0 auto;
  width: 5dvw;
  min-width: 40px;
  max-width: 100px;
}
 
/* ------------- PAGE COMPTE ------------ */

#account-container {
  text-align: center;
  max-width: 550px;
}

.h2-account {
  font-family: 'Bionix';
}

.block-vitesse {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.block-vitesse div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1dvh;
}

.block-vitesse h3 {
  margin-bottom: 10px;
}

.button-modify-account {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap : 10px;
}

#button-modify-account {
  display: flex;
  flex-direction: row;
}

#button-modify-account svg {
  stroke : var(--third-color);
}

#account-container img {
  margin: 1dvh auto 0;
  width: 5dvw;
  min-width: 40px;
  max-width: 100px;
}


/* ------------- PAGE MENTIONS LEGALES ------------ */
.h1-legals {
  margin-bottom: 2dvh;
}


/* ------------- PAGE 404 - 403 ------------ */

.page-erreur + footer {
  margin: 0;
}

.logo-erreur {  
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: calc(100dvh - 60px);
}

/* SmartPhone moyens */
@media screen and (min-width: 400px) and (max-width: 991px) {

  .block-vitesse div {
    flex-direction: row;
    justify-content: space-between;
  }

  .block-vitesse div h4 {
    width: 150px;
    text-align: right;
  }

}

/* Ecrans d'ordinateur */
@media screen and (min-width: 992px) {

  /* ------------- GENERAL ------------ */
  main {
   width: 60dvw;
   min-height: calc(95dvh - (41px + 5dvh));
   margin-top: 5dvh;
   transform: translateX(50px);
  }

  h1 {
    font-size: 98px;
  }

  p,li {
    font-size: 18px;
  }

  /* ------------- CONTENEURS ------------ */

  .container:not(.container-sinIn, .login-onglet, .login-button, .block-login, .dashboard-mobile-section, .container-legals, .container-details .container) {
    margin: 5dvh auto;
    padding: 40px 60px;
    justify-content: start;
    align-items: start;
    max-width: unset;
  }


  /* ------------- HEADER - NAVBAR ------------ */

  .logo {
    position: absolute;
    right: 5dvw;
    top: 5dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 120px;
    transform: translateY(-8px);
  }

  nav {
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    width: 100px;
    height: 100dvh;
    padding: 10dvh 0;
  }

  nav a {
    width: 78px;
    height: 78px;
  }

  svg {
    height: 70px;
  }

  /* ------------- FOOTER ------------ */
  footer {
    margin: 5dvh 0 0 0;
    width: 100dvw;
    transform: translateX(50px);
  }

  /* ------------- FORMULAIRES ------------ */

  form {
    max-width: unset;
  }

  form div {
    align-self : start;
  }

  /* ------------- FORMULAIRE - NOUVEAU PROJET ------------ */
  #newProject-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #newProject-form > div {
    display: flex;
    justify-content: space-between;
    max-width: 46%;
  }

  #newProject-form .button {
  margin: 0;
  }

  /* ------------- FORMULAIRE - ANALYSE DETAILLEE ------------ */
  #container-detailed-analysis {
      max-width: unset;
  }

  #container-detailed-analysis form {
      width: 100%;
  }

  #container-detailed-analysis h3, #container-detailed-analysis p {
    text-align: left;
}

  form .all-sequences-container {
    max-width: unset;
    max-height: 800px;
  }

  .all-sequences-container > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: unset;
  }

  .all-sequences-container .container-sequence, .container-sequence-radio > div {
    display: flex;
    flex-direction: column;
  }

  .all-sequences-container .container-sequence {
    min-width: 50%;
    align-self: center;
  }

  .container-sequence {
    min-width: 100%;
  }

  .all-sequences-container .container-sequence-radio {
    min-width: 40%;
    margin: 15px 0 15px 40px;
    flex-wrap: wrap;
  }

  .container-sequence-radio div {
    width: unset;
  } 

  .container-sequence-radio div:last-child {
    align-items: start;
  } 

  .container-sequence-radio .container-occupe {
    align-self: start;
  }

  #container-detailed-analysis hr {
      margin-bottom: 80px;
  }



  .form-finalReport .customLabel input:checked ~ .checkmark-appreciation {
    transform: scale(1.15);
  }

  

  /* ------------- PAGE ACCUEIL ------------ */
  #container-home {
    margin-bottom: 2dvh;
  }

  #container-home h2 {
    text-align: left;
  }

  /* ------------- PAGE SignIn - Login ------------ */
  .main-signIn {
    display: flex;
    flex-direction: row-reverse;
    min-height: calc(95dvh - (41px + 5dvh));
    transform: translateX(0);
    justify-content: center;
    align-items: center;
  }

  .container-signIn {
    width: 350px;
  }


  .logo-signIn {
    margin: 0;
    width: 50%;
  }

  .logo-signIn img {
    margin: 0 0 40px 0;
    width: 70%;
  }

  .main-signIn + footer {
  transform: translateX(0px);
  }

  /* ------------- PAGE COMPTE ------------ */

  #account-container {
    max-width: unset;
  }


}

/* Très grands écrans */
@media screen and (min-width: 1553px) {
   /* ------------- PAGE DASHBOARD ------------ */
   table {
    display: table;
   }

   .dashboard-mobile {
    display: none;
   }
}









.champObligatoire {
  color :red;
}

.messageError {
  color: red;
}

.messageSuccess {
  color: var(--primary-color);
}


/* --------- Classes JS (en bas du css pour priorité la plus élevée) ---------*/
.open {
  display: flex !important;
  justify-content: space-between;
}

.rotate {
  transform: rotate(180deg) !important;
}