:root {
  --primary-color-gradient : linear-gradient(180deg, #7CEE00 15%, #3A6E01);
  --primary-color : #7CEE00;
  --secondary-color : #1C1C1C;
  --third-color : #ffffff;
  --background-color : #000000;
  --accent-color : #FFD800;
}

@font-face {
  font-family: "Bionix";
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/Bionix-demo.otf")
      format("opentype"),
}

/* --------------------------------------------------  RESET CSS  --------------------------------------------------*/

/* enlever les marges naturelles + reset du body/html */
html,
body,
header {
  margin: 0 auto;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "inter";
}

/* tous les élements, et pseudo-éléments héritent de la valeur de box-sizing du parent */
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--third-color);
  cursor: pointer;
  display: flex;
}

/* enlever le style des listes */
ul,
ol {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.button {
  cursor: pointer; /* Ajoute un pointeur au survol */
}

/* corriger l’affichage des images */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* ------------- GENERAL ------------ */
body {
  background: var(--background-color);
}

main {
   width: 90dvw;
   margin: 0 auto;
}
h1 {
  /* font-family: "Julius Sans One", sans-serif; */
  /* color: var(--primary-color); */
  font-family: "Bionix";
  color: var(--third-color);
  text-align: center;
  font-size: 56px;
}

p, li, td {
  color: var(--third-color);
}

strong {
  /* color: var(--forth-color);*/
  font-family: "Bionix"; 
}

.text-primary-color {
  color: var(--primary-color);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5dvh auto;
  width: 120px;
  color: var(--primary-color);
  font-family: "Just Me Again Down Here", cursive;
  font-size: 22px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin: 2dvh auto;
  padding: 20px;
  text-align: justify;
 
}

.container ul {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  list-style-type: disc;
}

/* ------------- BOUTONS ------------ */
.button {
  background: var(--primary-color-gradient);
  color: var(--background-color);
  border-radius: 5px;
  width: 40dvw;
  margin: 0 auto;
  display: flex;
  align-items: center; /* Centre le texte verticalement */
  justify-content: center; /* Centre le texte horizontalement */
  min-height: 48px; /* Hauteur minimale des éléments clicables selon les guidelines Google et Apple */
}

/* ------------- FORMULAIRES ------------ */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--third-color);
  background-color: var(--secondary-color);
  text-align: left;
}

form textarea, input:not([type="submit"]) {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
  border-radius: 15px;
  font-size: 24px;
  color: var(--third-color);
  height: 34px;
  margin: 0;
  padding-left : 10px;
}

form textarea:focus, input:not([type="submit"]):focus {
  border-color: var(--accent-color);
  outline:none;
}


/* ------------- HEADER - NAVBAR ------------ */
nav {
  background: var(--primary-color-gradient);
  display: flex;
  justify-content: space-evenly;
  position:fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}

nav a {
  display: flex;
  align-items: center; /* Centre le texte verticalement */
  justify-content: center; /* Centre le texte horizontalement */
  min-height: 48px; /* Hauteur minimale des éléments clicables selon les guidelines Google et Apple */
}

svg {
  stroke : var(--third-color);
  color: var(--third-color);
  height: 40px;
}

/* ------------- FOOTER ------------ */

footer {
  display: flex;
  justify-content: center;
  border-top: solid 1px var(--secondary-color);
  margin: 5dvh 0 60px;
}

footer a {
  margin: 10px auto;
}

/* ------------- SignIn- Login ------------ */

.logo-signIn {
  width: auto;
}

.logo-signIn h1 {
  font-size: 38px;
}
.container-signIn {
  /* height: calc(95dvh - 80px); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-signIn + footer{
  margin: 5dvh 0 0;
}




.popup {
  display : none;
}

.champObligatoire {
  color :red;
}

.messageError {
  color: red;
}

.messageSuccess {
  color: var(--primary-color);
}