RewriteEngine on

RewriteBase /BoardCompanion/



# Redirige les url vers les controllers associés

RewriteRule ^home$ index.php?controller=main&action=home [L]
RewriteRule ^mentions-legales$ index.php?controller=main&action=legals [L]

RewriteRule ^nouveau-projet$ index.php?controller=form&action=newProject [L,QSA]
RewriteRule ^modifier-projet$ index.php?controller=form&action=updateProject [L,QSA]

RewriteRule ^analyse-detaillee$ index.php?controller=form&action=detailedAnalysis [L,QSA]
RewriteRule ^modifier-analyse-detaillee$ index.php?controller=form&action=updateDetailedAnalysis [L,QSA]

RewriteRule ^tableau-de-bord$ index.php?controller=statistics&action=dashboard [L]
RewriteRule ^projet$ index.php?controller=statistics&action=details [L,QSA]
RewriteRule ^supprimer-projet$ index.php?controller=statistics&action=deleteProject [L,QSA]
RewriteRule ^bilan-final$ index.php?controller=statistics&action=finalReport [L,QSA]
RewriteRule ^modifier-bilan-final$ index.php?controller=statistics&action=updateFinalReport [L,QSA]

RewriteRule ^connexion$ index.php?controller=user&action=login [L]
RewriteRule ^deconnexion$ index.php?controller=user&action=logout [L]
RewriteRule ^compte$ index.php?controller=user&action=showAccount [L]
RewriteRule ^modifier-compte$ index.php?controller=user&action=updateAccount [L]
RewriteRule ^supprimer-compte$ index.php?controller=user&action=deleteAccount [L]


RewriteRule ^arborescence$ index.php?controller=tree&action=main [L]
RewriteRule ^planning$ index.php?controller=calendar&action=showCalendar [L]

RewriteRule ^404$ index.php?controller=errors&action=error_404 [L]
RewriteRule ^403$ index.php?controller=errors&action=error_403 [L]
